@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poppins&family=Satisfy&family=Montserrat:wght@600&display=swap");

$quote-font: "Playfair Display", serif;
$poppins-font: "Poppins", sans-serif;
$calendar-font: "Montserrat", sans-serif;

$banner-image-z-index: -2;

$light-blue: #4E8BEC;
