@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  &.is-open{
    background: $light-blue + F8;
    border: solid black
  }
}


