@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,800;1,500;1,800&display=swap");

.imageCard {
  position:relative;
  text-align:center;
}

.image{
  height: 100%;
  &:after {
    content: '';
    background: rgba(0,0,0,.4);
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    @include media-breakpoint-up(md) {
      background: rgba(0,0,0,.2);
    }
  }
  @include media-breakpoint-up(md) {
    &:hover{
      &:after {
        background: rgba(0,0,0,.4);
      }
    }
  }
}

.imageText {
  position:absolute;
  top:25%;
  left:0;
  width:100%;
  font-family: "Poppins";
  h4 {
    font-size:2.7rem;
    color:white;
    font-weight: 800;
    text-transform: uppercase;
  }
  p {
    font-weight: 500;
    font-style: italic;
    color: white
  }
}


button {
  color: white;
  background-color: black;
  border: none;
  padding: .5rem 1rem;
  font-weight: 500;
  font-style: italic;
}

