// @import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/bootstrap";

header {
    margin-bottom: 1.45rem;
    color: white;
    .inner-header{
        display: flex;
    }
    .jumbotron {
      padding: 0 0;
    }
}

nav {
    height: auto;
    background: black;
    a {
        color: white;
        font-weight: 500;
    }
    .navbar-home {
    }
    .navbar-expand {
      justify-content: space-between;
    }
}

.harrisonTest {
  background: white;
}

