// @import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Poppins&family=Satisfy&family=Montserrat:wght@600&display=swap);


$nav-height: 70px;

$quote-font: "Playfair Display", serif;
$poppins-font: "Poppins", sans-serif;
$calendar-font: "Montserrat", sans-serif;

body {
  /* background-color: #F5F5F5; */
  background-image: url("../data/images/whitehouseFaded.jpg");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  max-height: none;
  overflow-x: hidden;
}

nav {
  position: absolute !important;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  a {
    color: white;
    font-weight: 500;
  }
  .navbar-expand {
    justify-content: space-between;
  }
  .btn {
    margin: auto 10px;
  }
}

.banner {
  margin-bottom: 1.45rem;
  color: white;
  position: relative;
  padding: 0 0;
  height: 560px;
  text-align: start;
  @include media-breakpoint-up(md){
    height:500px;
  }

  .banner-body {
    .calendar {
      font-family: $calendar-font;
      font-size: 3rem;
      text-align: center;
      @include media-breakpoint-up(md) {
        position: relative;
        top: 2rem;
      }
      /* background-color:blue; */
      /* height: 50%; */
      /* border-radius: .5rem; */
      /* @include media-breakpoint-down(sm) { */
      /*   height: 100px; */
      /* } */
    }
  }

  .hero-text {
    font-family: $poppins-font;
    font-size: 10rem;
    margin-bottom:0;
  }

  #hero-phrase {
    font-weight: bold;
    color: yellow;
    position: relative;
    left: 2.7rem;
    top:-3.4rem;
    margin-bottom: 0;
    font-size:3.0rem;
  }

  .absolute-top-center {
    position: absolute;
    margin: auto;
    top: $nav-height;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .gradient-banner {
    background:rgba(0, 0, 115,.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .banner-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    .graphic-button {
      @extend .btn-primary;
      background: #153a91ab;
      height:10rem;
      min-width:8rem;
      border-radius:0.8rem;
      margin:4px;
      @include media-breakpoint-down(sm) {
        height: 7rem;
      }
      &:hover {
        img {
          height: 55%;
        }
      }
      img {
        height: 50%;
        margin-top: 4px;
      }
      p {
        position: absolute;
        bottom: 1rem;
        left: 0;
        right: 0;
        color: white;
        margin-bottom: 0;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}

footer {
  height: 100px;
  background: black;
  color: white;
  margin-top: 2rem;
  div {
    padding-top: 2rem;
  }
}

// Content
.featurettes {
  .featurette {
    margin: 1rem auto;
    background: white;
    border-radius: 0.8rem;
    .featurette-heading {
      font-size: 2.2rem;
    }
    .featurette-image {
      height: 300px;
    }
  }
}

hr.featurette-divider {
  @extend .container;
  margin: 2rem auto; /* Space out the Bootstrap <hr> more */
}

.form-group {
  margin-bottom: 0;
}

#genElectionInfo {
  padding-left: 10px;
  @include media-breakpoint-down(sm) {
    padding-left: 15px;
    margin-top: 1rem;
  }
}

.resource-cards {
  .card {
    min-height: 212px;
  }
  a {
    font-size: 1.75rem;
    font-weight: 500;
  }
}

.share {
  .share-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      margin: 1rem auto;
    }
  }
  .share-text {
    @include media-breakpoint-only(md) {
      font-size:1.8rem;
    }
  }
}

.compare{
  h2 {
    text-align: center;
    test-size: 2.5rem;
    font-family: $poppins-font;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  .dem-rep-comparison {
    .topic {
      text-align: center;
      width: 20%;
      font-weight: 600;
      font-size: 1.2rem;
      @include media-breakpoint-down(sm){
        width:100%;
        position: absolute;
        left: 0;
        color: white;
        font-size: 1.4rem;
      }
    }
    .padding-small {
      @include media-breakpoint-down(sm){
        padding-top: 2.5rem;
      }
    }
    .dem {
      width: 40%;
      text-align: end;
      font-size: 1.4rem;
      color: white;
      background: linear-gradient(to right, #0000ff 50%, #7f7fff 100%);
      font-weight: 700;
      @include media-breakpoint-down(sm){
        font-size:1.6rem;
        width:50%;
        background: linear-gradient(to right, #0000ff 50%, #7f307f 100%);
      }
    }
    .rep {
      width: 40%;
      text-align: start;
      font-size: 1.4rem;
      color: white;
      background: linear-gradient(to left, #ff0000 50%, #ff7f7f 100%);
      font-weight: 700;
      @include media-breakpoint-down(sm){
        font-size:1.6rem;
        width:50%;
        background: linear-gradient(to left, #ff0000 50%, #7f307f 100%);
      }
    }
    .more-info {
      color: black;
      font-size: 1rem;
      font-weight: initial;
    }
    p {
      color: white;
      font-weight: 600;
    }
  }
}
